/* style dla strony repertuaru */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 20px;
}

nav li:first-child {
    margin-left: 0;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    color: #ccc;
}

main {
    flex-grow: 1;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #ccc;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    font-size: 0.8rem;
    margin-bottom: 0;
}

